.hex {
  position: absolute;
  margin: 1em auto;
  width: 1.5em; height: 2.598em;
  border-radius: 0.3em / .15em;
  opacity: 1;
  transform: rotate(30deg);
  box-shadow: 1px 1px 2px #888888;

}
.hex:before, 
.hex:after {
  position: absolute;
  width: inherit; height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}
.hex:before {
  transform: rotate(60deg);
}
.hex:after {
  transform: rotate(-60deg);
}

.hex.unoccupied {
  background-color: #404040;
}

.hex.occupied {
  box-shadow: 1px 1px 2px #404040;
}

.hex.green {
  background-color: #6eda92;
}

.hex.purple {
  background-color: #8588f8;
}

.hex.yellow {
  background-color: #f7d685;
}

.hex.yellowgreen {
  background-color: #c9ec7d;
}

.hex.orange {
  background-color: #ef9e6c;
}

.hex.pink {
  background-color: #f885b0;
}

.abs {
  position: absolute;
}

.board {
  position: absolute;
  top: 50px;
  left: 50px;
}

.score {
  color: #ddd;
  font-family: sans-serif;
  font-size: 2em;
  top: 20px;
  left: 246px;
  position: absolute;
}

.tray {
  position: absolute;
  top: 450px;
  left: 45px;
  min-width: 420px;
  min-height: 150px;
  background-color: rgba(128,128,128,0.2);
  border-radius: 20px;
}

.piece {
  position: absolute;
  top: 15px;
  transform: scale(0.55);
}

#aicontroller {
  background-color: rgba(128,128,128,0.8);
  min-width: 300px;
  min-height: 550px;
  border-radius: 20px;
}

#aicontroller h1 {
  text-align: center;
  color: #eee;
  font-size: 1.1em;
  font-family: serif;
}

.ai-heuristic-explain {
  height: 600px;
  overflow-y: scroll;
}

.ai-heuristic-explain a {
  text-decoration: none;
  color: #333;
}

.ai-heuristic-explain tr {
  margin: 20px;
}

.ai-heuristic-explain tr.expanded {
  height: 100px;
}

.ai-heuristic-explain tr:nth-child(even) {
  background-color: #777;
}

.ai-heuristic-explain tr:nth-child(odd) {
  background-color: #999;
}

.ai-heuristic-explain th:nth-child(1) {
  width: 20px;
}

.ai-heuristic-explain td:nth-child(1) {
  width: 20px;
}

.ai-heuristic-explain th:nth-child(3) {
  width: 235px;
}

.ai-heuristic-explain td:nth-child(3) {
  width: 235px;
}

.ai-heuristic-explain .collapsed .move {
  display: none;
}

.ai-heuristic-explain .expanded .move {
  transform: scale(0.2, 0.2);
  position: relative;
  top: -50px;
  left: -25px;
}

.ai-heuristic-explain .expanded .move .tray {
  display : none;
}

.ai-heuristic-explain .expanded .move .board {
  position: relative;
}

.ai-heuristic-explain .expanded .move .score {
  position: relative;
  top: 50px;
  left: 220px;
  font-size: 3.4em;
}

.ai-heuristic-explain-move-div .hex {
  box-shadow: none;
}