body {
	background-color: #111;
}

#app {
	width: 100%;
	margin: auto;
	height: 50em;
	background-color: #444;
	display: flex;
	flex-direction: column;
}

#statusbar {
	height: 2em;
	width: 90%;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	padding: 0.4em;
	background-color: #ccc;
	border-radius: 0.4em;
	color: #446;
	font-size: 1.5em;
}


#aistate-container {
	background-color: #eee;
	height: 40em;
	width: 90%;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}